#On ubuntu, sudo apt-get install these packages prior to 
#running pip install -r requirements.txt.
#On other platforms make sure these are satisfied 
#on the system.
python2.7
libmysqlclient-dev
python-dev
