{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'login' %}
                <div id="errorbox">
                    <h3>{{ message|safe }}</h3>
                </div>
            {% endif %}
            {% if category == 'error' %}
                <div id="errorbox">
                    <h3>Errors were found in your request.</h3>
                    <h4>{{ message|safe }}</h4>
                </div>
            {% endif %}
            {% if category == 'warning' %}
                <div id="warningbox">
                    <h3>Warnings were found in your request.</h3>
                    <h4>{{ message|safe }}</h4>
                </div>
            {% endif %}
            {% if category == 'message' %}
                <div id="messagebox">
                    <h4>{{ message }}</h4>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}