<!DOCTYPE html>
<html lang="en" ng-app='espaApp'>
  <head>
    {% include "head_content.html" with context %}
    <title>ESPA - {% block title %}{% endblock %}</title>
    {% block stylelinks %}{% endblock %}
    <style>
      {% block style %}{% endblock %}
    </style>
    <script type="text/javascript">
      {% block javascript %}{% endblock %}
    </script>
  </head>
  <body>
    <div class="container">
      <div id="header">
        {% include "header_content.html" %}
        <div id="usgstitle">
          {% block usgstitle %}{% endblock %}
        </div>
      </div>
      <div id="nav">
        <span class="navitemleft"><a href="index">Home</a></span>
        <span class="navitemleft">|</span>
        <span class="navitemleft"><a href="ordering/new">New Order</a></span>
        <span class="navitemleft">|</span>
        <span class="navitemleft"><a href="listorders_form">Show Orders</a></span>
        <span class="navitemleft">|</span>
        <span class="navitemleft"><a href="http://landsat.usgs.gov/CDR_ECV.php">Product Information</a></span>
        <span class="navitemleft">|</span>
        <span class="navitemleft"><a href="http://landsat.usgs.gov/documents/espa_odi_userguide.pdf">User Guide</a></span>
        {% if session['logged_in'] %}
            <span class="navitemright"><a href="logout">Logout</a></span>
        {% else %}
            <span class="navitemright"><a href="login">Login</a></span>
        {% endif %}
        {% if user.is_staff %}
            <span class="navitemright">|</span>
            <span class="navitemright"><a href="console_index">Console</a></span>
        {% endif %}
        <span class="navitemright">|</span>
        <span class="navitemright">{{ user.username}} ({{ user.email }})</span>
        <span class="navitemright">|</span>
        <span class="navitemright">Products Completed Last Day: {#{ stat_products_complete_24_hrs }#}</span>
        <span class="navitemright">|</span>
        <span class="navitemright">Product Backlog: {#{ stat_backlog_depth }#}</span>

        {#% include "nav_content.html" with context %#}
      </div>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
      <div id='footer'>
        {% include "footer_content.html" %}
      </div>
    </div>
  </body>
</html>