<!DOCTYPE html>
<html lang="en" ng-app='espaApp'>
  <head>
    {% include "head_content.html" with context %}
    <title>ESPA - {% block title %}{% endblock %}</title>
    {% block stylelinks %}{% endblock %}
    <style>
      {% block style %}{% endblock %}
    </style>
    <script type="text/javascript">
      {% block javascript %}{% endblock %}
    </script>
  </head>
  <body>
    <div class="container">
      <div id="header">
        {% include "header_content.html" %}
        <div id="usgstitle">
          {% block usgstitle %}{% endblock %}
        </div>
      </div>
      <div id="nav">
        {% include "nav_content.html" %}
      </div>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
      <div id='footer'>
        {% include "footer_content.html" %}
      </div>

    </div>
  </body>
</html>