<!DOCTYPE html>
<html lang="en" ng-app='espaApp'>
  <head>
    {% include "head_content.html" with context %}
    <title>ESPA - {% block title %}{% endblock %}</title>
    {% block stylelinks %}{% endblock %}
    {% block scriptlinks %}{% endblock %}
    <style>
      {% block style %}{% endblock %}
    </style>
    <script type="text/javascript">
      {% block javascript %}{% endblock %}
    </script>
  </head>
  <body>
    <div class="container">
      <div id="header">
        {% include "header_content.html" %}
        <div id="usgstitle">
          {% block usgstitle %}{% endblock %}
        </div>
      </div>
      <div id="nav">
        {% include "nav_content.html" with context %}
      </div>
      <div id="content">
        <div class="wrapper">
            {% if 'display_system_message' in session.keys() and session['display_system_message'] == 'True' %}
	    		{% include "system_message.html" %}
		    {% endif %}

            {% include "action_message.html" %}

            {% block content %}{% endblock %}
        </div>
      </div>
      <div id='footer'>
        {% include "footer_content.html" %}
      </div>
    </div>
      <script type="text/javascript">
      {% block new_order_javascript %}{% endblock %}
    </script>

  </body>
</html>