{% extends "base.html" %}
{% block title %} ESPA Message Console {% endblock %}
{% block stylelinks %}{% endblock %}
{% block scriptlinks %}{% endblock %}
{% block usgstitle %}
  <p>ESPA Config</p>
{% endblock %}
{% block javascript %}{% endblock %}
{% block content %}
    <h4>ESPA Config</h4>
    <div style='margin-top:30px;'>
    <table id='statistics' class='display' width=100%>
    <thead><tr><th>Name</th><th>Value</th></thead>
    <tbody>
    {% for key in sorted_keys %}
        <tr>
        <td>{{ key }}</td>
        <td>{{ config_data[key] }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
{% endblock %}