<div id="usgsidentifier">
  <a href="http://www.usgs.gov/">
      <img src="/static/img/header_graphic_usgsIdentifier_white.jpg"
           alt="USGS - science for a changing world"
           width="178" height="72" />
  </a>
</div>
<div id="identifierbg">
    <img src="/static/img/logo_bg.png" alt="" width="240" height="72" />
</div>
<div id="rot">
    <img src="/static/img/www-banner.jpg" alt="" width="2100" height="72" />
</div>
<div id="usgsccsabox">
    <div id="usgsccsa">
      <br /><a href="http://www.usgs.gov/"><strong>USGS Home</strong></a>
      <br /><a href="http://www.usgs.gov/ask/"><strong>Contact USGS</strong></a>
      <br /><a href="http://search.usgs.gov/"><strong>Search USGS</strong></a>
    </div>
</div>