{% extends "base.html" %}

{% block title %}LSRD{% endblock %}

{% block usgstitle %}
  <p>LSDS Science Research and Development (LSRD)</p>
{% endblock %}

{% block stylelinks %}
  <link rel="stylesheet" type="text/css" href="static/js/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="static/js/slick/slick-theme.css"/>
{% endblock %}

{% block style %}
  {% include "index.css" %}
{% endblock %}

{% block javascript %}
    $(document).ready(function(){
      $('#logo_box').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 5000,
          fade: true,
          cssEase: 'linear',
          arrows: false
      });
    });
{% endblock %}

{% block content %}
	<div id="logo_box" class='shadow'>
	  <img src="static/img/lsrds/1.png" />
      <img src="static/img/lsrds/2.png" />
      <img src="static/img/lsrds/3.png" />
      <img src="static/img/lsrds/4.png" />
      <img src="static/img/lsrds/5.jpg" />
      <img src="static/img/lsrds/6.jpg" />
      <img src="static/img/lsrds/7.png" />
    </div>

	<div id="opensource_box">
      <h3>Did you know?</h3>
      <p>All LSRD software is freely available and licensed under the NASA Open Source Agreement.</p>
      <p style="text-align:center" ><a href="https://github.com/USGS-EROS">Go there now</a></p>
    </div>

    <h3 class="inlineb topspace30 bottomspace20" id="lsrd_offerings">Current Offerings</h3>

    <div class="marketing_box">
      <div class="marketing_header" id="bulk_ordering">
        <p>Bulk Ordering</p>
      </div>
      <div class="marketing_content">
        <p>Bulk ordering allows a list of Landsat scenes to be submitted for additional processing beyond what is available through the standard Landsat Level 1 processing.</p>
        <p>This is the primary mechanism to gain access to LSRD's provisional and prototype data products.</p>
      </div>
      <div class="marketing_footer">
        <p><a href="ordering/new">Order Data</a></p>
      </div>
    </div>

    <div class="marketing_box">
      <div class="marketing_header" id="bulk_ordering">
        <p>Bulk Ordering API</p>
      </div>
      <div class="marketing_content">
        <p>The API enables end-users to write their own clients to interact with all Bulk Ordering capabilities.</p>
        <p>The Bulk Ordering API is implemented as a REST service using HTTP and JSON and is accessible from most programming languages.</p>
      </div>
      <div class="marketing_footer">
        <p><a href="https://github.com/USGS-EROS/espa-api#user-api">Access API Information</a></p>
      </div>
    </div>

    <div class="marketing_box">
      <div class="marketing_header" id="bulk_ordering">
       <p>LPCS</p>
      </div>
      <div class="marketing_content">
        <p>Land Product Characterization provides a way to perform statistical comparisons between datasets obtained from disparate sensors.</p>
        <p>LPCS currently supports MODIS and Landsat surface reflectance products only, but further development will expand the offerings.</p>
      </div>
      <div class="marketing_footer">
        <p><a href="http://lpcsexplorer.cr.usgs.gov/">Generate Comparisions</a></p>
      </div>
    </div>
{% endblock %}
