{% extends "base.html" %}

{% block title %} ESPA Reports {% endblock %}
{% block header %} All Reports {% endblock %}

{% block usgstitle %}
  <p>LSDS Science Research and Development (LSRD)</p>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css"/>
{% endblock %}

{% block js_files %}
  <script type="text/javascript" src="http://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block javascript %}

    function switchUrl() {
        var path = "ordering/status/fake@val.com";
        var email_addr = document.getElementById('id_email');
        path = path.replace('fake@val.com', $.trim(email_addr.value));
        window.location = path;
        return false;
    }

{% endblock %}

{% block new_order_javascript %}
    $(document).ready(function(){
        $("#id_email").keypress(function(e) {
            var key = e.which;
            if (key == 13) //the enter key code
              {
                switchUrl();
                return false;
              }
        })
    })
{% endblock %}

{% block content %}
    {% if display_system_message %}
        {% include "system_message.html" %}
    {% endif %}
    <div style='margin:0 auto; text-align:center;margin-top:10px;'>

        {#% if errors.email %#}
            <span class="error">{#{errors.email}#}</span><br/>
        {#% endif %#}

        <form method="GET" action="ordering/status">
            <label for="id_email" style="font-weight:bold">Show orders for:</label>
            <input type="text" id="id_email" >
            <input type="button" value="Submit" onclick='switchUrl();' />
        </form>

    </div>
    {% if order_list %}
        <h4>
            <a href="/ordering/status/{{ for_user }}/rss" style="text-decoration: none">
                <img border="0" alt="RSS Status Feed" title="Completed Scene RSS Feed" src="static/img/feed-icon-28x28.png"></img>
            </a>&nbsp;&nbsp;&nbsp;
            Showing all orders for {{ for_user }}
        </h4>
        <div class='boxbody'>
            <table>
                <tr class="header_row">
                    <th class='header_row noborder orderid'>Order ID</th>
                    <th class='header_row noborder pordered'>Products Ordered</th>
                    <th class='header_row noborder pcomplete'>Products Complete</th>
                    <th class='header_row noborder pstatus'>Status</th>
                    <th class='header_row noborder pnote'>Note</th>
                </tr>
                {% for order in order_list %}
                    {% set rowclass = loop.cycle('evenrow', 'oddrow') %}
                    <tr class="{{ rowclass }}">
                        <td class="{{ rowclass }}"><a href=" /ordering/order-status/{{ order.orderid }}/">{{ order.orderid }}</a></td>
                        <td class="{{ rowclass }}" id='{{ order.id }}_total_ordered'>{{ order.products_ordered }}</td>
                        <td class="{{ rowclass }}" id='{{ order.id }}_finished'>{{ order.products_complete }}</td>
                        <td class="{{ rowclass }}">{{ order.order_status }}</td>
                        <td class="{{ rowclass }}">{{ order.order_note }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <div style="margin:0 auto;text-align:center;">
            <h4 style='margin-top:40px;'>No orders found for {{ session['user'].email }}</h4>
        </div>
    {% endif %}
{% endblock %}



