<span class="navitemleft"><a href="index">Home</a></span>
<span class="navitemleft">|</span>
<span class="navitemleft"><a href="https://landsat.usgs.gov/cdr-ecv">Product Information</a></span>
<span class="navitemleft">|</span>
<span class="navitemleft"><a href="https://landsat.usgs.gov/sites/default/files/documents/espa_odi_userguide.pdf">User Guide</a></span>
{% if 'logged_in' in session.keys() and session['logged_in'] %}
<span class="navitemleft">|</span>
<span class="navitemleft"><a href="ordering/new">New Order</a></span>
<span class="navitemleft">|</span>
<span class="navitemleft"><a href="ordering/status">Show Orders</a></span>
{% endif %}
{% if 'logged_in' in session.keys() and session['logged_in'] %}
    <span class="navitemright"><a href="logout">Logout</a></span>
{% else %}
    <span class="navitemright"><a href="login">Login</a></span>
{% endif %}
{% if 'logged_in' in session.keys() and session['logged_in'] %}
    {% if session['user'].is_staff %}
        <span class="navitemright">|</span>
        <span class="navitemright"><a href="admin_console">Console</a></span>
    {% endif %}
<span class="navitemright">|</span>
<span class="navitemright">{{ session['user'].username}} ({{ session['user'].email }})</span>
<span class="navitemright">|</span>
{% if session['stat_backlog_depth'] > 100000 %}
    <span class="navitemright" style="font-weight:bold;color:#ffff99;">
{% else %}
    <span class="navitemright">
{% endif %}
    Total Product Backlog: {{ session['stat_backlog_depth'] }}
    </span>
{% endif %}
