{% extends 'base.html' %}

{% block title %} ESPA Reports {% endblock %}
{% block header %} All Reports {% endblock %}

{% block nav %}{% include 'ordering/bulk_ordering_nav.html' %}{% endblock %}

{% block new_order_javascript %}
    $(document).ready(function(){
        $('#reports').DataTable(
	    {'scrollX': true}
	);
      });  
{% endblock %}

{% block content %}
    <h4>{{ report_name }} Report</h4>
    {% if report %}
    <table id='reports' class='display' cellspacing='0' width='100%'>
    <thead>
        <tr>
        {% for key in report[0].keys() %}
        <th>{{ key }}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for rpt in report %}
        <tr>
            {% for k,v in rpt.items() %}
              {% if '/ordering/' in v %}
                <td><a href="{{ v }}" style="text-decoration: none;">㋡</a></td>
              {% else %}
                <td> {{ v }} </td>
              {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {% else %}
    <h5>No items to report.</h5>
    {% endif %}
{% endblock %}

