{% extends "base.html" %}

{% block title %} ESPA Message Console {% endblock %}

{% block stylelinks %}
  <link rel="stylesheet" type="text/css" href="static/css/jquery-te-1.4.0.css">
{% endblock %}

{% block scriptlinks %}
  <script type="text/javascript" src="static/js/jquery-te-1.4.0.min.js"></script>
{% endblock %}

{% block usgstitle %}
  <p>ESPA Message Console</p>
{% endblock %}

{% block javascript %}
    $(document).ready(function() {
        $("#msg_text_area").jqte({fsize: false, color: false, source: false, sub: false, sup: false, rule: false, strike: false});

        {% if session['display_system_message'] == 'True' %}
            $("#msg_display").prop("checked", true);
        {% endif %}

    });
{% endblock %}

{% block content %}
<div class="wrapper">
    <form action="console/statusmsg" method="post">
        <h4>Publish Message</h4>
        <input type='checkbox' id="msg_display" name="display_system_message">
        <h4>Message Title</h4>
        <input type="text" name="system_message_title" size="35" value="{{ session['system_message_title'] }}">
        <br />
        <h4>Message</h4>
        <textarea cols="40" rows="5" id="msg_text_area" name="system_message_body">
            {{ session['system_message_body'] }}
        </textarea>
        </br>
        <input type="submit" value="Update">
    </form>

</div>
{% endblock %}