div.product_box {
    width:650px;
    margin:15px auto 35px auto;
    border:1px solid #d0d0d0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow:hidden;
}

div.product_boxheader {
    text-align:center;
    line-height:20px;
    font-size:14px;
    font-weight:bold;
    background:#577196;
    overflow:hidden;
    color:white;
    margin-bottom:9px;
    padding:2px 0px;
}

div.product_boxbody {
    height:auto;
    padding-bottom:9px;
}

div.product_boxbody p {
    padding-left:10px;
    padding-right:10px;
}

div.product_boxbody label{
    display:inline-block;
}

div.product_boxbody input{
    display:inline-block;
}

div#order_description_productbox {
    text-align:center;
}

#order_description {
    width: 625px;
    height: 100px;
    margin-top: 10px;
    margin: 10px auto;
    align: center;
}

div.inputitem {
    padding:5px;
    text-align:left;
    line-height:20px;
}

div.inputitem label{
    display:inline;
}

div.input_move_right {
    padding-left: 45px;
}

div#resize_options, div#reprojection, div#scene_extents {
    height:auto;
    margin:10px auto;
    padding:10px;
    width:85%;
    border:1px solid #d0d0d0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div#resample_options {
    height:auto;
    padding-top:20px;
    padding-bottom:20px;
    text-align:left;
}

input#submit {
    display:block;
    clear:both;
    margin:20px auto;
}


input#input_product_list {
    margin-left:40px;
}

div#projection_parameters {
    padding:10px;
    height:auto;
    display:none;
    visibility:hidden;
}

.projection_params_txt {
    width:170px;
    margin-right:10px;
}

.projection_params_select {
    margin-right:39px;
    width:100px;
}

#utm_zone_label {
    padding-right:10px;
}

h5#input_product_list {
    margin:0 auto;
    padding:20px;
}

#input_product_list_box {
    width:650px;
    margin-top:40px;
    margin-bottom:15px;
    margin-left:auto;
    margin-right:auto;
    border:2px solid #d0d0d0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow:hidden;
 }

input#input_product_list {
    max-width:90%;
    width:90%;
}

div#output_formats {
    margin-left:27px;
}

div#output_formats label{
    margin-right:15px;
}

input#output_format {
    margin-left:15px;
}

input.bounding_box_params {
    width:174px;
}

.image_extents_units_wrapper {
    width:400px;
}