Flask==0.10.1
Flask-Login==0.3.2
Flask-Session
flask-httpauth
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
requests==2.9.1
Werkzeug==0.11.4
wheel==0.26.0
python-memcached==1.57
nose2
nose2-cov
mock==1.3.0
PyRSS2Gen
uWSGI==2.0.12
